<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
    <title>Gato</title>
    <body>
        <%- include("partials/header.ejs") %>

        <h1>estas por adoptar el gatito <%=id%></h1>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
