<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Adopta un gato</title>
        <!--link de Bootstrap-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <!--link de tipografia mulish-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <!--link de libreria normalize para que tengan estilos basicos en todos los navegadores-->
        <link rel="stylesheet" href="/css/normalize.css" />

        <!--link de enlace a mi hoja de css-->
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/gatos.css" />
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="/img/logo-oscuro.jpg" class="col-2 logo" />
            <div class="container-fluid frase-header">
                <h3 class="navbar-brand">Nos dedicamos a rescatar animales y buscarles un hogar.</h3>
                <h3 class="navbar-brand">Adopta! No compres!</h3>
            </div>
        </nav>
        <ul class="nav justify-content-end bg-dark">
            <li class="nav-item">
                <a class="nav-link color-huellitas" href="#">Información</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active color-huellitas" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-huellitas" href="#">Registrate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"></a>
            </li>
        </ul>
    </header>
    <body>
        <section class="contenedor-gatos">
            <section class="frase-gato">Hay miles de gatos esperando una oportunidad para tener una familia</section>
            <ul class="contenedor2">
                <div class="contenedor-tarjetas">
                    <li class="nombre-animal">Rodolfo y Georgina<img class="imagen-animal" src="/img/gatos2.jpg" alt="" /></li>

                    <li class="nombre-animal">Beto<img class="imagen-animal" src="/img/gatoAd1.jpg" alt="" /></li>

                    <li class="nombre-animal">Lara<img class="imagen-animal" src="/img/gatoAd2.jpg" alt="" /></li>
                    <li class="nombre-animal">Enrique<img class="imagen-animal" src="/img/gatoAd3.jpg" alt="" /></li>
                </div>
                <div class="contenedor-tarjetas">
                    <li class="nombre-animal">Loqui<img class="imagen-animal" src="/img/gatoAdo4.jpg" alt="" /></li>
                    <li class="nombre-animal">Peque<img class="imagen-animal" src="/img/gatoAdop2.jpg" alt="" /></li>
                </div>
            </ul>
        </section>
    </body>
</html>
