<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="/img/logo-oscuro.jpg" class="col-2 logo" />
                <div class="container-fluid frase-header">
                    <h3 class="navbar-brand">Nos dedicamos a rescatar animales y buscarles un hogar.</h3>
                    <h3 class="navbar-brand">Adopta! No compres!</h3>
                </div>
            </nav>
            <ul class="nav justify-content-end bg-dark">
                <li class="nav-item">
                    <a class="nav-link color-huellitas" href="#">Información</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active color-huellitas" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-huellitas" href="#">Registrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"></a>
                </li>
            </ul>
        </header>
    </body>
</html>
