<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Huellitas</title>

        <!--link de tipografia mulish-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <!--link de libreria normalize para que tengan estilos basicos en todos los navegadores-->
        <link rel="stylesheet" href="/css/normalize.css" />

        <!--link de enlace a mi hoja de css-->
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <header class="contenedor-header">
            <section>
                <nav class="contenedor-frase-header">
                    <div class="contenedor-logo">
                        <a href="/"> <img src="/img/logo-oscuro.jpg" class="logo" /></a>
                    </div>
                    <div class="frase-header">
                        <h3>Nos dedicamos a rescatar animales y buscarles un hogar.</h3>
                        <h3>Adopta! No compres!</h3>
                    </div>
                </nav>
            </section>
            <section class="contenedor-navbar">
                <i class="fas fa-bars"></i>
            </section>
            <ul class="nav-header">
                <li class="li-header-info">
                    <a class="color-huellitas" href="/">Información</a>
                </li>
                <section class="nav-header2">
                    <li class="li-header">
                        <a class="color-huellitas" href="/login">Login</a>
                    </li>
                    <li class="li-header">
                        <a class="color-huellitas" href="/registro">Registrate</a>
                    </li>
                </section>
            </ul>
        </header>
        <main class="contenedor-main">
            <section class="contenedor1">
                <article class="contenedor-tarjeta">
                    <h3 class="titulo-imagen">Adoptar un perro</h3>
                    <img class="class-img" src="/img/760-510.jpg" />
                </article>
                <article class="contenedor-tarjeta">
                    <h3 class="titulo-imagen">Adoptar un gato</h3>
                    <img class="class-img" src="/img/gato1.jpg" />
                </article>
            </section>
            <section class="contenedor1">
                <article class="contenedor-tarjeta">
                    <h3 class="titulo-imagen">Donar dinero</h3>
                    <img class="class-img" src="/img/veterinario.jpg" />
                </article>
                <article class="contenedor-tarjeta">
                    <h3 class="titulo-imagen">Ofrecer transito</h3>
                    <img class="class-img" src="/img/perros-gatos.jpg" />
                </article>
            </section>
        </main>
        <footer class="footer-class">
            <section class="footer-contenedor">
                <div>
                    <p class="frase-footer">
                        Hecho con <i class="fas fa-heart corazon"></i> para ayudar a nuestros amigos <i class="fas fa-dog perro"></i> y
                        <i class="fas fa-cat gato"></i>.
                    </p>
                </div>
                <div class="derechos-footer">
                    <p>2022 - Huellitas - Todos los derechos reservados.</p>
                </div>
                <div>
                    <div>
                        <ul class="buscanos-footer">
                            Buscanos también en:
                            <a href="https://www.facebook.com/people/Huellitas-La-Plata/100076843951591/" target="_blank"
                                ><i class="fab fa-facebook redes"></i
                            ></a>
                            <a href="https://www.instagram.com/huellitas.lp/?hl=es" target="_blank"><i class="fab fa-instagram redes"></i></a>
                            <a href="#"><i class="fab fa-twitter redes"></i></a>
                        </ul>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>
