<!DOCTYPE html>
<html lang="en">
    <title>Adopta un perro</title>
    <link rel="stylesheet" href="/css/gatos.css" />
    <%- include("partials/head.ejs") %>
    <body>
        <%- include("partials/header.ejs") %>
        <section class="contenedor-perros">
            <section class="frase-gato">Hay miles de perros esperando una oportunidad para tener una familia</section>
            <ul class="contenedor2">
                <div class="contenedor-tarjetas">
                    <li class="nombre-animal">Jero<img class="imagen-animal" src="/img/perroAd1.jpg" alt="" /></li>

                    <li class="nombre-animal">Copetin<img class="imagen-animal" src="/img/perroAd2.jpg" alt="" /></li>

                    <li class="nombre-animal">Negra<img class="imagen-animal" src="/img/perroAd3.jpg" alt="" /></li>
                    <li class="nombre-animal">Puki<img class="imagen-animal" src="/img/perroAd4.jpg" alt="" /></li>
                </div>
                <div class="contenedor-tarjetas">
                    <li class="nombre-animal">Quiko<img class="imagen-animal" src="/img/perroAd5.jpg" alt="" /></li>
                    <li class="nombre-animal">Felipe<img class="imagen-animal" src="/img/perroAd6.jpg" alt="" /></li>
                </div>
            </ul>
        </section>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
