.contenedor {
    width: 100%;
}

.contenedor-tarjetas {
    background-color: rgb(213, 185, 181);
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-clases-animales {
    width: 70%;
    border-radius: 30px;
    margin: 20px 0px 20px 0px;
    height: 190px;
    border: 1.5px solid rgb(79, 79, 79);
}
