.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: rgb(213, 185, 181);
}

.contenedor-tarjetas {
    background-color: rgb(213, 185, 181);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img-clases-animales {
    width: 65%;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    height: 200px;
    border: 1.5px solid rgb(79, 79, 79);
}

.titulo-nombre-animales {
    color: rgb(33, 37, 41);
    text-decoration: underline;
    text-decoration-color: rgb(213, 185, 181);
    font-weight: bolder;
    font-size: 20px;
    font-style: normal;
    padding: 20px 0px 0px 0px;
}

.contenedor-titulo {
    background-color: rgb(213, 185, 181);
    font-weight: bolder;
    display: flex;
    color: rgb(33, 37, 41);
    margin: 0px;
    padding: 15px 0px 15px 0px;
}

.titulo-animales {
    text-align: center;
}

.contenedor-form {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(213, 185, 181);
}

.contenedor-boton{
    padding: 0px 22px 0px 0px;
}

@media (min-width: 520px) {
    .img-clases-animales {
        height: 220px;
    }
    .contenedor-titulo {
        border: none;
        border-radius: 0px;
        padding: 40px 0px 60px 0px;
    }
}
@media (min-width: 767px) {
    .seccion-animales {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        margin: auto;
    }

    .contenedor {
        width: 50%;
    }

   
}
@media (min-width: 1100px) {
    .img-clases-animales {
        width: 57%;
        margin-left: 10%;
    }

     .img-clases-animales :hover{
        box-shadow: 10px 5px 5px black;
    }

    .titulo-nombre-animales{
        padding: 0;
    }
}
