.errores{
    color:#dc3545;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    padding: 25px;
}

.px50 {
width: 50%;
}

.px75 {
width: 75%;
}

.mb40 {
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 35%;
    text-align: center;
}

.mb40bis {
    margin-top: 40px;
    max-width: 35%;
    text-align: center;
}

.mb100 {
    margin-bottom: 100px;
    margin-top: 40px;
    max-width: 35%;
}

.mb50 {
    margin-bottom: 50px;
    margin-top: 40px;
    max-width: 35%;
}

.mw100 {
    max-width: 100%;
}

.mbutton {
    margin-left: 50%;
    
}

.pr25 {
    padding-right: 25px;
}

.tjc {
    justify-content: center;
    display: flex;
}

.ttc {
    text-align: center;
}