* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

@media (min-width: 767px) {
}
@media (min-width: 1100px) {
    .contenedor-header {
        background-color: rgb(33, 37, 41);
    }

    .frase-header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-left: 30%;
        padding-top: 50px;
        color: white;
    }

    .frase-header h3 {
        font-size: 20px;
        font-style: normal;
    }

    .contenedor-frase-header {
        display: flex;
    }

    .nav-header {
        display: flex;
        list-style: none;
    }

    .nav-header2 {
        display: flex;
        margin-left: 80%;
    }

    ul li a {
        text-decoration: none;
    }

    .color-huellitas {
        color: rgb(213, 185, 181);
        font-size: 20px;
        border-radius: 5px;
        padding: 8px 16px;
    }

    .color-huellitas:hover {
        background-color: azure;
        color: rgb(213, 185, 181);
        font-weight: bolder;
    }

    .contenedor1 {
        background-color: rgb(213, 185, 181);
        display: flex;
        justify-content: center;
    }

    .contenedor-tarjeta {
        padding: 30px;
    }

    .class-img {
        width: 450px;
        height: 300px;
        border: black 1px solid;
    }

    .titulo-imagen {
        width: 450px;
        height: 35px;
        background-color: rgb(33, 37, 41);
        color: rgb(213, 185, 181);
        text-align: center;
        font-size: 23px;
        line-height: 1.5;
    }

    .contenedor-tarjeta :hover {
        box-shadow: 10px 5px 5px black;
    }

    .logo {
        margin-left: 30px;
        width: 150px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div {
        display: flex;
    }

    .footer-class {
        background-color: rgb(159, 159, 159);
        border: 1px dotted black;
    }

    .footer-contenedor {
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }

    section div {
        color: black;
        font-style: italic;
        font-weight: bolder;
    }

    .corazon {
        color: #aa0d3f;
        padding-left: 5px;
        padding-right: 5px;
    }

    .perro {
        padding-left: 5px;
        padding-right: 5px;
        color: rgb(124, 54, 13);
    }
    .gato {
        color: rgb(79, 79, 79);
        padding-left: 5px;
        padding-right: 5px;
    }
    .redes {
        color: black;
        margin-left: 5px;
        font-size: 19px;
    }
}
