* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.color-huellitas {
    color: rgb(213, 185, 181);
    font-size: 20px;
    border-radius: 5px;
}

.color-huellitas:hover {
    background-color: azure;
    color: rgb(213, 185, 181);
    font-weight: bolder;
}

.contenedor1 {
    background-color: rgb(213, 185, 181);
    display: flex;
    justify-content: center;
}

.contenedor-tarjeta {
    padding: 30px;
}

.class-img {
    width: 450px;
    height: 300px;
    border: black 1px solid;
}

.titulo-imagen {
    margin-bottom: 5px;
    width: 450px;
    height: 35px;
    background-color: rgb(33, 37, 41);
    color: rgb(213, 185, 181);
    text-align: center;
    font-size: 23px;
}

.contenedor-tarjeta :hover {
    box-shadow: 10px 5px 5px black;
}

.logo {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.frase-header {
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

div {
    display: flex;
}

.footer-class {
    background-color: rgb(159, 159, 159);
    border: 1px dotted black;
    display: flex;
    justify-content: space-between;
}

.footer-contenedor {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    width: 100%;
}

.frase-footer {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding: 5px;
    margin-top: 7%;
}

.derechos-footer {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 5px;
    margin-left: 200px;
    margin-top: 3%;
    padding-right: 215px;
}

.lista {
    display: flex;
    padding: 5px;
    margin-top: 11%;
    margin-left: 10px;
}

section div {
    color: black;
    font-style: italic;
    font-weight: bolder;
}

.corazon {
    color: #aa0d3f;
    padding-left: 5px;
    padding-right: 5px;
}

.perro {
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(124, 54, 13);
}
.gato {
    color: rgb(79, 79, 79);
    padding-left: 5px;
    padding-right: 5px;
}
.redes {
    color: black;
    margin-left: 5px;
}
