.fondo {
    background-image: url("../img/fondo-rosa.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.login-form-container {
    display: flex;
    width: 33%;
    margin: 10% 35%;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 16%;
}

.login-input-class {
    width: 100%;
    padding: 4%;
    border-radius: 8px;
    border: rgb(213, 185, 181) 2px solid;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

.login-button-class {
    width: 200px;
    padding: 4%;
    border-radius: 8px;
    border: rgb(213, 185, 181) 2px solid;
    margin-top: 25px;
    background-color: rgb(251, 229, 218);
    text-align: center;
    font-weight: bolder;
}

.div-container {
    padding: 6%;
}
