.contenedor-formulario {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 11%;
}

.login-form-container {
    border: 2px solid #9d8197;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 16%;
}

.div-container {
    padding: 6px 8px 4px 8px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.login-button-class {
    width: 60%;
    padding: 4%;
    border-radius: 8px;
    border: rgb(213, 185, 181) 2px solid;
    margin-top: 15px;
    background-color: rgb(251, 229, 218);
    font-weight: bolder;
}

.titulo-registro {
    font-size: 14px;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
}

.fondo {
    background-image: url("../img/fondo-rosa.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.login-input-class {
    width: 100%;
    padding: 4%;
    border-radius: 8px;
    border: rgb(213, 185, 181) 2px solid;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

@media (min-width: 767px) {
}
@media (min-width: 1100px) {
    .fondo {
        background-image: url("../img/fondo-rosa.jpg");
        background-attachment: fixed;
        background-size: cover;
    }

    .login-form-container {
        display: flex;
        width: 33%;
        margin: 10% 35%;
        flex-direction: column;
        align-items: center;
        background-color: #ebebeb;
        border-radius: 16%;
    }

    .login-input-class {
        width: 100%;
        padding: 4%;
        border-radius: 8px;
        border: rgb(213, 185, 181) 2px solid;
        text-align: center;
        font-weight: bolder;
        font-style: italic;
    }

    .login-button-class {
        width: 200px;
        padding: 4%;
        border-radius: 8px;
        border: rgb(213, 185, 181) 2px solid;
        margin-top: 25px;
        background-color: rgb(251, 229, 218);
        text-align: center;
        font-weight: bolder;
    }

    .div-container {
        padding: 6%;
    }

    .titulo-registro {
        font-size: 19px;
        font-weight: bolder;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
