   <a href="" class="nombre-animal"><li >Rodolfo y Georgina<img class="imagen-animal" src="/img/gatos2.jpg" alt="" /></li></a>

        <a href="" class="nombre-animal"><li >Beto<img class="imagen-animal" src="/img/gatoAd1.jpg" alt="" /></li></a>

        <a href="" class="nombre-animal"><li >Lara<img class="imagen-animal" src="/img/gatoAd2.jpg" alt="" /></li></a>
    </div>
    <div class="contenedor-tarjetas">
        <a href="" class="nombre-animal"><li >Enrique<img class="imagen-animal" src="/img/gatoAd3.jpg" alt="" /></li></a>

        <a href="" class="nombre-animal"><li >Loqui<img class="imagen-animal" src="/img/gatoAdo4.jpg" alt="" /></li></a>

       <a href="" class="nombre-animal"><li >Peque<img class="imagen-animal" src="/img/gatoAdop2.jpg" alt="" /></li></a>   