<footer class="footer-class">
    <section class="footer-contenedor">
        <div>
            <p class="frase-footer">
                Hecho con <i class="fas fa-heart corazon"></i> para ayudar a nuestros amigos <i class="fas fa-dog perro"></i> y
                <i class="fas fa-cat gato"></i>.
            </p>
        </div>
        <div class="derechos-footer">
            <p>2022 - Huellitas - Todos los derechos reservados.</p>
        </div>
        <div>
            <div>
                <ul class="buscanos-footer">
                    Buscanos también en:
                    <a href="https://www.facebook.com/people/Huellitas-La-Plata/100076843951591/" target="_blank"
                        ><i class="fab fa-facebook redes"></i
                    ></a>
                    <a href="https://www.instagram.com/huellitas.lp/?hl=es" target="_blank"><i class="fab fa-instagram redes"></i></a>
                    <a href="#"><i class="fab fa-twitter redes"></i></a>
                </ul>
            </div>
        </div>
    </section>
</footer>
